<html>
	<head>
		<title>Guest Dialog</title>
		<link href="static/Dialog.css" rel="stylesheet" type="text/css" />
		<script src="/js/jquery.js" type="text/javascript"></script>
		<script src="/js/jquery.json.js" type="text/javascript"></script>
		<script src="/tanx-web-service/v1/static/ajax.js" type="text/javascript"></script>
		<script src="static/ChatRoom.js" type="text/javascript"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				chatroom.loadGuestDialogWindow({{dialog_parameters}});
			});
		</script>
	</head>
	<body class="dialog-frame-body">
		<div id="dialog_form">
			<div class="dialog-bodytext">
				<div class="dialog-record">
					<dl class="dialog-record-text"></dl>
				</div>
				<div class="dialog-input">
					<div class="dialog-edit">
						<textarea class="dialog-inputbox"></textarea>
					</div>
				</div>
			</div>
			<div class="dialog-memberlist">
				<ul class="dialog-memberlist-list">
				</ul>
			</div>
		</div>
	</body>
</html>
