
h1 { text-align: center; }


.section
{
	margin-top: 40px;
	border-bottom: 1px dashed #d4d4d4;
}

.head-check { text-align: justify; padding: 0; }

.long-table tr td
{
	text-align: center;
	padding: 0 10px;
}
.long-table tr td form
{
	margin-bottom: 0;
}

.property-table tr th
{
	text-align: left;
	padding: 0 20px;
}
