#controllers
{
    position: fixed;
    bottom: 0;
    right: 0;
}

#status-bar
{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 0.6em;
}

#status-bar span
{
    display: inline-block;
    margin: 0 2em;
}

#status-bar span em
{
    font-weight: bold;
    color: #07d;
    display: inline-block;
    margin: 0 0.3em;
}

.playing #status-summary
{
    opacity: 0.3;
}

#pause, #sample-file-input
{
    display: none;
}

#viewer
{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1600px;
    pointer-events: none;
}


#viewer > div
{
    position: absolute;
    width: 50%;
    height: 100%;
}

#criterion-area
{
    left: 0;
}

#sample-area
{
    right: 0;
}

.middle-wrapper
{
    overflow: visible;
    position: relative;
    top: 90%;
    border-top: 1px #eee dashed;
}

#criterion-canvas, #sample-canvas
{
    position: relative;
    width: 100%;
}

#criterion-canvas
{
    transition-property: top;
    transition-duration: .6s;
}


.note-bar
{
    fill: #fff;
    stroke: #ccc;
    stroke-width: 1px;
}

.paired .note-bar
{
    fill: #8d8;
}

.unpaired .note-bar
{
    fill: #f44;
}

.duplicated .note-bar
{
    fill: #d80;
}

.pressed .note-bar
{
    fill: #b2f;
}


.note.paired
{
    fill: #080;
}

/*.note.duplicated
{
    fill: #d80;
}*/

.note.pressed
{
    fill: #b2f;
    stroke: #b2f;
    stroke-width: 4px;
}

.note:hover
{
    stroke: #f60;
    stroke-width: 5px;
}

path.note:hover
{
    stroke-width: 80px;
}

.note.eval-fine
{
    fill: #0f0;
}

.note.eval-fast1
{
    fill: #0e8;
}

.note.eval-fast2
{
    fill: #08a;
}

.note.eval-fast3
{
    fill: #04f;
}

.note.eval-slow1
{
    fill: #8e0;
}

.note.eval-slow2
{
    fill: #ea0;
}

.note.eval-slow3
{
    fill: #f20;
}

/*#wuxianpu rect
{
    display: none;
}*/

#smart-logo
{
    display: block;
    position: fixed;
    top: 4px;
    left: 4px;
    color: #a4f;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    opacity: 0.8;
}

#playing-sample
{
    width: 2em;
}

#playing-sample.playing
{
    background-color: #4f4;
}

#controllers .section
{
    display: inline-block;
    margin: 0 0.5em;
}

.mark-error
{
    fill: #f00;
}

.measure
{
    pointer-events: none;
}

.measure-summary
{
    /*stroke: rgba(0, 0, 0, 0.3);
    stroke-width: 1px;
    fill: rgba(128, 255, 128, 0.5);*/
    opacity: 0;

    transition: opacity .6s;
}

.measure-summary .background
{
    fill: rgba(128, 255, 128, 0.5);
}

.measure-summary:hover, .evaluating .measure-summary:hover
{
    opacity: 0.7 !important;
    cursor: pointer;
}

.measure-summary.active, .evaluating .measure-summary.active
{
    opacity: 1;
}

.measure-summary.active .background, .evaluating .measure-summary.active .background
{
    stroke: #4b0;
    stroke-width: 4px;
}

/*.evaluating .measure-summary
{
    opacity: 0.4;
}*/

.measure-summary-error
{
    fill: #c00;
    font-weight: bold;
    text-anchor: end;
}

.type-criterion .viewer-background
{
    fill: #efe;
}

.type-sample .viewer-background
{
    fill: #ffd;
}

.viewer-pitch-label
{
    fill: #000;
    text-anchor: end;
    font-size: 13px;
}

.viewer-pitch-label.error
{
    fill: #f00;
}

.viewer-bar
{
    fill: #ccc;
}

.viewer-bar.error
{
    fill: #f00;
}

.viewer-bar.fine
{
    fill: #0c0;
}

.viewer-bar.retraced
{
    fill: #fa0;
}

.switch-1, .switch-2
{
    transition: opacity .6s linear;
    opacity: 0;
}

.switch-phase-1 .switch-1, .switch-phase-2 .switch-2
{
    opacity: 1;
}
