<html>
	<head>
		<title>Chat Room</title>
		<link href="static/ChatRoom.css" rel="stylesheet" type="text/css" />
		<script src="/js/jquery.js" type="text/javascript"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				updateLayout();

				loadDialog("My Room", "host-dialog");

				// set parameters for #online-frame
				$("#online-frame").get(0).contentWindow.callbacks = {
					"ItemClick": function(session){
						loadDialog(session.host.nickname + "'s Room", "guest-dialog?id=" + session.id);
					},
				};
			});

			var loadDialog = function(title, src)
			{
				var dialogs_frame = $("#dialogs_frame");
				dialogs_frame.append("<div class='dialog-form-wrapper'></div>");
				dialogs_frame.find(".dialog-form-wrapper").load("static/dialog-form", function(){
					var dialog_form = dialogs_frame.find(".dialog-form:last");
					dialog_form.find(".dialog-form-title-text").text(title);

					dialog_form.find(".dialog-form-body-frame").attr("src", src);
				});
			};

			var updateLayout = function()
			{
				$("#canvas").height($(window).height() - $("#header").outerHeight(true) - 2);
				$("#online").css("max-height", $("#canvas").innerHeight());
			};

			$(window).resize(updateLayout);
		</script>
	</head>
	<body>
		<div id="header">
			<div style="margin: 2px 8px;">
				<div id="account-bar">
					<b>{{current_user.email}}</b> |
					<a href="{{logout_url}}">logout</a>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
		<div id="main">
			<div id="nav">
				<div id="online">
					<iframe id="online-frame" src="room-list"></iframe>
				</div>
			</div>
			<div id="canvas">
			</div>
		</div>
		<div class="layer-container">
			<div id="dialogs_frame">
			</div>
		</div>
	</body>
</html>
