
html
{
	font-family: arial, sans-serif;
	font-size: 80%;
}

body
{
	margin: 0;
}

h2
{
	margin: 0;
	font-size: 100%;
}

iframe
{
	width: 100%;
	border: none;
}


#header
{
	border-bottom: solid 1px #c9d7f1;
	padding-bottom: 2px;
}

#account-bar
{
	float: right;
}

#nav
{
	float: left;
	width: 232px;
	padding-left: 8px;
}

#canvas
{
	margin-left: 240px;
	border-left: solid 1px #c2cff1;
}

#dialogs_frame
{
	float:right;
	height: 100%;
	margin: 0 12px;
	visibility: hidden;
}

#online
{
	overflow-y: auto;
}

#online-frame
{
	height: 180px;
}

.layer-container
{
	position: absolute;
	visibility: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.clickable
{
	cursor: pointer;
}


/* dialog-form */
.dialog-form-wrapper
{
	position: relative;
	float: right;
	width: 360px;
	height: 100%;
	margin-right: 6px;
}

.dialog-form
{
	visibility: visible;
	position: absolute;
	float: left;
	margin: 0 4px;
	bottom: 0;
	width: 100%;
}

.dialog-form-title
{
	background-color: #73a6ff;
	height: 20px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.dialog-form-title-text
{
	padding: 1px 4px;
	font-weight: bold;
	color: White;
}

.dialog-form-body
{
	border-left: solid 1px #bbb;
	border-right: solid 1px #bbb;
	height: 240px;
}

.dialog-form-body-frame
{
	height: 100%;
	font-family: arial, sans-serif;
	font-size: 80%;
}
