
html
{
	font-family: arial, sans-serif;
	font-size: 80%;
}

body
{
	margin: 0;
}

h2
{
	margin: 0;
	font-size: 100%;
}

ul
{
	margin: 2px 0;
	padding-left: 20px;
}


.hidden
{
	visibility: hidden;
}

.clickable
{
	cursor: pointer;
}

.clear
{
	clear: both;
}

.title-status
{
	font-size: small;
	color: #aaa;
}

.list-selfitem
{
	color: #66c;
}

.list-item
{
}

.list-selfitem:hover, .list-item:hover
{
	background-color: #e3e9ff;
}

.contact
{
	height: 36px;
}

.profile
{
	float: right;
	margin: 2px 0;
	width: 32px;
	height: 32px;
}

.nickname
{
	padding-top: 10px;
}


#list li
{
	cursor: pointer;
}
