
.viewer
{
	position: relative;
}

.slot
{
	display: inline-block;
	position: absolute;
}

.slot.new
{
	display: none;
}

.slot .figure
{
	display: block;
	width: 100%;
	height: auto;
	cursor: pointer;
}

.slot-placeholder
{
	width: 100%;
}
